@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>Desafio Treasy Ops</h3>

<p>
    Esse projeto tem como objetivo demonstrar meus conhecimentos para concorrer à uma vaga na empresa Treasy.
</p>

<p>
    <strong>Técnicas/Ferramentas Utilizadas:</strong>
    <ul>
        <li>Desenvolvido em .Net com a linguagem de programação C#</li>
        <li>Desenvolvido no padrão MVC</li>
        <li>Utilizado Entity Framework para mapeamento/acesso aos dados</li>
        <li>Front End: utilizado o framework Bootstrap</li>
    </ul>
</p>