@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<address>
    Cleydson Grein
</address>

<address>
    <a href="mailto:cleydson.grein@gmail.com">cleydson.grein@gmail.com</a><br />
    <a href="https://www.linkedin.com/in/cleydsongrein" target="_blank">Linkedin</a>
</address>